// Modal layout
$layout-modal-modal-height: 25%;
$layout-modal-app-bar-height: 4em;

// Sidebar layout
$layout-sidebar-break: 50em;
$layout-sidebar-bar-width: 350px;

// Tiled layout
$layout-tiled-break: 70em;

@import 'colors';
@import 'layouts';
