@import 'includes';
$opacity: 0.8;

.event {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba( $color-neutral, $opacity );
  @include transition( all ease 0.2s );

  > .name {
    font-weight: bold;
  }

  > .place, > .date {
    display: block;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  > img {
    display: none;
  }

  .close {
    float: right;
  }

  .races {
    margin-top: 3px;

    > li {
      margin: 3px 0;
    }
  }

  .register {
    display: none;
    text-align: right;
    font-weight: bold;
    font-size: 0.8rem;
  }

  &.inactive {

    .races {

      :nth-child(n+4) {
        display: none;
      }

      :nth-child(4) {
        display: inline;

        > * { display: none; }

        &:before {
          display: none;
        }

        &:after {
          position: relative;
          top: -4px;
          left: -2px;
          content: '(more)';
          font-size: 0.6rem;
        }
      }

    }

    .register {
      display: none;
    }
  }

}

@include layout(sidebar) {

  .event {
    height: auto;
    cursor: pointer;
    margin-bottom: 5px;

    .races {
      margin-left: 10px;
    }

    .close {
      display: none;
    }

    .index {
      display: none;
    }

    .register {
      display: block;
    }

    &:not(.active):hover {
      background-color: rgba( $color-highlighted, $opacity );
    }

    &.active {
      background-color: rgba( $color-active, $opacity );
    }
  }

}