@import 'includes';

.event-list {
  position: fixed;
  right: 0;
  bottom: -$layout-modal-modal-height;
  left: 0;
  height: $layout-modal-modal-height;
  @include transition( all linear 0.2s );
  z-index: 2002;

  &.has-active {
    display: block;
    bottom: 0;
  }

  .nav {
    position: absolute;
    display: block;
    top: -50px;
    left: 50%;
    margin-left: -70px;
    background-color: rgba( white, 0.8 );
    text-align: center;

    .next, .prev, .page {
      display: inline-block;
      padding: 10px;
      line-height: 1rem;
      vertical-align: middle;
    }

    .next, .prev {
      font-size: 3rem;
      position: relative;
      top: -3px;

      &.enabled {
        color: $color-stylized;
      }
    }

    .page {
      font-size: 1rem;
    }

  }

  .event {
    display: none;

    &.focus {
      float: left;
      display: block;
    }
  }

}

@include layout(sidebar) {

  .event-list {
    top: $layout-modal-app-bar-height;
    bottom: auto;
    left: auto;
    height: auto;
    max-height: 95%;
    width: $layout-sidebar-bar-width;
    overflow: auto;
    border: solid 5px transparent;

    &.has-active, &.has-selector {
      padding-top: 0;
      bottom: auto;
    }

    .event, .event.focus {
      float: none;
      display: list-item;
    }

    li.nav {
      display: none
    }
  }

}