@import 'includes';

.help-button {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 999;

  button {
    opacity: 0.8;
  }
}

.help-content {
  font-size: 0.9rem;
  padding: 10px;
  z-index: 2001;
}

.help-wrapper {
  max-width: 95%;
}
