@import 'includes';

.location-search {
  position: absolute;
  padding: 2px 10px 2px 0;
  border-radius: 10px;
  top: 9px;
  left: 45px;
  transition: all ease 0.4s;
  background-color: rgba(255, 255, 255, 0);

  .search {
    transition: all ease 0.4s !important;
    overflow: hidden;

    > div {
      white-space: nowrap;
    }
  }

  &.searching {
    background-color: rgba(255, 255, 255, 0.8);
  }
}