@import 'includes';

.place-selector {
  display: block;
  position: relative;

  em {
    font-style: normal;
    font-weight: 900;
  }

  .place-search-list {
    position: absolute;
    background-color: $color-neutral;
    top: 100%;
    left: 0;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    z-index: 100;
  }

}
