@import 'includes';

.race {
  .name {
    font-weight: normal;
    font-size: 0.8rem;
  }

  .inactive & .name {
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }

}

@include layout(sidebar) {

}
